@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

/* Header Section */
.header .header-1 {
    background: #ffff;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo {
    font-size: 2.5rem;
    font-weight: bold;
    color: #444;
}

.header .header-1 .logo i {
    color: #2E8BC0;
}

.header .header-1 .search-form {
    width: 50rem;
    height: 5rem;
    border: ipx solid #ccc;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
    background: #fff;
}

.header .header-1 .search-form input {
    font-size: 1.6rem;
    padding: 0 1.2rem;
    width: 100%;
    border: none;
    outline: none;
}

.header .header-1 .search-form label {
    font-size: 2rem;
    padding-right: 1.5rem;
    color: #444;
    cursor: pointer;
}

.header .header-1 .icons div,
.header .header-1 .icons a {
    font-size: 2rem;    
    margin-left: 1.5rem;
    color: #444;
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover {
    transform: scale(1.2);
    color: #2E8BC0;
}

.header .header-2 {
    background: #2E8BC0;
    padding: 1rem 9%;
    text-align: center;
}

.header .header-2 .navbar a {
    color: #fff;
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover {
    background: #0c2d48;
    border-radius: 10px;
}


/* Login Form Popup */
.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0; right: -105%;
    z-index: 10000;
    height: 100%;
    width: 100%;
}

.login-form-container.active {
    right: 0;
}

.login-form-container form {
    background: #fff;
    border: 1px solid #ccc;
    width: 40rem;
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    margin: 2rem;
}

.login-form-container form h3 {
    font-size: 2.5rem;
    color: #444;
    text-align: center;
    text-transform: uppercase;
}

.login-form-container form span {
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box {
    width: 100%;
    margin: .7rem 0;
    font-size: 1.6rem;
    padding: 1rem 1.2rem;
    border: 1px solid #ccc;
    border-radius: .5rem;
    text-transform: none;
}

.login-form-container form .checkbox {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}

.login-form-container form .checkbox label {
    font-size: 1.5rem;
    color: #666;
    cursor: pointer;
}

.login-form-container form .btn {
    width: 100%;
    text-align: center;
    margin: 1.5rem 0;
    padding: .9rem;
    background: #2E8BC0;
    color: #fff;
    font-size: 1.7rem;
    border-radius: .5rem;
    cursor: pointer;
}

.login-form-container form .btn:hover {
    background: #0C2D48;
}

.login-form-container form p {
    padding-top: .8rem;
    color: #666;
    font-size: 1.5rem;
}

.login-form-container form p a {
    color: #2E8BC0;
    text-decoration: underline;
}

#close-login-btn {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: #444;
    cursor: pointer;
}

/* Home Section */
.home {
    background: url(../images/banner-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5rem 9%;
}

.home .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row .content {
    flex: 1 1 42rem;
}

.home .row .books-slider {
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.home .row .books-slider a img {
    height: 25rem;
}

.home .row .books-slider a:hover img {
    transform: scale(0.9);
}

.home .row .content h3 {
    color: #444;
    font-size: 4.5rem;
}

.home .row .content p {
    color: #666;
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem 0;
}


/* Featured Books Section */
.featured {
    padding: 5rem 9%;
}

.featured .heading {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #444;
}

.featured .featured-slider .box {
    position: relative;
    border: 1px solid #ccc;
    text-align: center;
    padding: 1.5rem;
    background: #fff;
    transition: 0.3s;
}

.featured .featured-slider .box:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.featured .featured-slider .box .icons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.featured .featured-slider .box .icons a {
    font-size: 1.5rem;
    margin: 0.5rem;
    color: #444;
    transition: 0.3s;
}

.featured .featured-slider .box .icons a:hover {
    color: #2E8BC0;
}

.featured .featured-slider .box .image img {
    width: 100%;
    height: auto;
}

.featured .featured-slider .box .content h3 {
    font-size: 2rem;
    color: #444;
    margin-top: 1rem;
}


.featured .featured-slider .box .content .price {
    font-size: 1.8rem;
    color: #2E8BC0;
    margin: 0.5rem 0;
}

.featured .featured-slider .box .content .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    color: #666;
}


.featured .featured-slider .box .btn {
    display: inline-block;
    padding: 0.8rem 2rem;
    border-radius: 5px;
    color: #fff;
    background: #2E8BC0;
    font-size: 1.6rem;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
}

.featured .featured-slider .box .btn:hover {
    background: #0C2D48;
}
